<div class="auth-container">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title class="title">Iniciar Sesión</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input
            matInput
            type="email"
            [(ngModel)]="loginData.email"
            name="email"
            required
          >
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Contraseña</mat-label>
          <input
            matInput
            type="password"
            [(ngModel)]="loginData.password"
            name="password"
            required
          >
        </mat-form-field>

        <button mat-raised-button class="login-button" type="submit">
          Iniciar Sesión
        </button>
      </form>

      <p class="link-text">
        ¿No tienes una cuenta?
        <a routerLink="/register">Regístrate Aquí</a>
      </p>
    </mat-card-content>
  </mat-card>
</div>
